pkgbase = libasyncns
	pkgdesc = A C library for executing name service queries asynchronously
	pkgver = 0.8+r3+g68cd5af
	pkgrel = 5
	epoch = 1
	url = https://github.com/Seafoam-Labs/libasyncns
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = git
	makedepends = lynx
	depends = glibc
	source = libasyncns::git+https://github.com/Seafoam-Labs/libasyncns.git#commit=68cd5aff1467638c086f1bedcc750e34917168e4
	sha256sums = SKIP

pkgname = libasyncns
